extends ../templates/base
include ../mixins/video

block content 
    form
        input(name="keyword", placeholder="Search by title", type="text")
        input(type="submit", value="Search")
    hr
    each video in videos 
        +video(video)